// Here you can add other styles
.table .thead-dark th {
    color: #000000;
    background-color: #eee;
    border-color: #c2cfd6;
}

.dg-btn.dg-btn--cancel {
    color: #000000;
    background-color: #ffc928;
}

.dg-btn.dg-btn--ok {
    color: #000000;
    background-color: #fefefe;
    border-color: #ffc928;
}

.app-header.navbar,
.app-header.navbar .navbar-brand,
.sidebar .sidebar-header,
.sidebar-fixed .sidebar,
.breadcrumb {
    border: none;
}
.sidebar .sidebar-header{
    border-bottom: solid 1px #c2cfd690;
}

.row {
    // min-height: 3em;
    margin-left: 0;
    margin-right: 0;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}

.btn {
    border-radius: 60px;
    border: solid thin #757575;
    color: black;
    font-weight: bold;
    background-color: transparent;
}

.btn:hover {
    border: solid thin #757575;
}

input,
.form-control {
    border-radius: 5px;
}

.modal-content {
    border-radius: 10px;
}

.pac-container {
    z-index: 1051; // because .modal bootstrap is having z-index 1050, so our autocomplete pop up will obstructed if below
}